nav{
	position: relative;
	display: block;
	z-index: 999;
	text-align: left;
}



.blur{
	position: absolute;
	top:0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: rgba(3, 3, 3, 0.9);
	transition: all 0.3s ease-in;
	opacity: 0.0;
}

.hide-blur{
	display: none;
}

.show-blur{
	display: block;
}

.bg-none{
	background-color: rgba(0,0,0,0) !important;
}

.rot-45
{
	transform: translateY(0.6em) rotateZ(45deg) !important;
}

.rot--45
{
	transform: translateY(-0.6em) rotateZ(-45deg) !important;
}

.opacity-0
{
	opacity: 0.0 !important;
}

.opacity-1
{
	opacity: 1.0 !important;
}